@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Technicall Assessment</h2>
        <ul>
            <li>Danny Duran</li>
            <li><a href="https://www.linkedin.com/in/durandanny/">LinkedIn</a> profile</li>
            <li>Technical Leader, Medellin Colombia.</li>
        </ul>
    </div>
</div>
